@model BuyAShoeAssignment.Models.Shoe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shoe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReleased)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
